/* Tshirts Day 4 Wknd Homework */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

body {
    font-family: 'Open Sans', 'san-serif';
    color: #72bae7;
}

ul {
    list-style: none;
}

/*main level*/
main {
    width: 100%;

}

article {
    width: 33%;
    float: left;
}
/*article level*/
