/* Tshirts Day 4 Wknd Homework */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

body {
    font-family: 'Open Sans', 'san-serif';
    color: #5CA4D7;
}

ul {
    list-style: none;
}

main {
    width: 100%;
    margin: 0 auto;
}

article {
    float: left;
    margin: 1em;
}

.tshirt-image {
    padding: 1.5em;
    border: 3px solid #5CA4D7;
    border-bottom: none;
}

ul.options {
    margin: 0;
    width: 100%;
    padding: 0;
}

.options > li {
    float: left;
    width: 20%;
    height: auto;
    padding: 10px 15px 15px 10px;
    font-size: 1.6em;
    text-align: center;
    border: 3px solid #5CA4D7;
    box-sizing: border-box;
}

.flip {
    position: relative;
    bottom: 18.2em;
}

li.flip {
    border-top: none;
    float: right;
    max-width: 1.5em;
    padding: 0;
    margin:0;
}

.tshirt-descriptions {
    padding: 0;
    margin: 0;
    bottom: 1.2em;
    position: relative;
}
.name {
    float: left;
    clear: both;
    font-size: 1.5em;
}

.price {
    float: right;
    font-size: 1.6em;
    font-weight: bold;
}


/* Nav Option CSS Color Box*/
.blue-box {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    left: 22%;
    padding: 5%;
    background-color: #7FBAE2;
    margin: 0;
}

.pink-box {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    left: 22%;
    padding: 5%;
    background-color: #D482AA;
    margin: 0;
}

.yellow-box {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    left: 22%;
    padding: 5%;
    background-color: #DAAE7B;
    margin: 0;
}

/*Take away double borders*/
li.refresh, li.heart, li.size, li.color {
    border-right: none;
}
