//base - styling for the entire body

body {
    font-family: $themeFont;
    color: $themeFontColor;

    ul {
        list-style: none;
    }
}

main {
    max-width: $mobileDisplayWidth;
    margin: $pageMargins;
}
