//Tshirt Descriptions - Captions

.tshirt-descriptions {
    padding: 0;
    width: 115px;
    text-align: center;
    margin: 0 auto;
}

.name {
    float: left;
    font-size: 1;

}

.price {
    float: left;
    clear: both;
    font-size: 1em;
    font-weight: bold;
}
