//Main Content for Tshirts Homework 7

//All articles

.tshirts-index {
    position: relative;
    width: $mobileArticleWidth;
    margin: $mobileArticleMargin;
    display: inline-block;
}

//Tshirt Images

.tshirt-image {
    border: $themeBorder;
    border-bottom: none;
    padding: $imagePadding;

    img {
        width: 100%;
        vertical-align: middle;
    }
}


//Navigation - options

.tshirt-options {
    max-width: 100%;
}

.options {
    margin: 0;
    padding: 0;

    > li {
        float:left;
        width: $mobileOptionsWidth;
        padding: $mobileOptionsPadding;
        border: $themeBorder;
        text-align: center;
        box-sizing: border-box;
    }

    li:hover {
        background-color: $themeColor;
        color: $hoverFontColor;
    }

    /*Take away double borders*/

    .refresh, .heart {
        border-right: none;
        border-bottom: none;
    }

    .size {
        border-bottom: none;
    }

    .color, .cart {
        border-right: none;
    }
}

/* Nav Option CSS Color Box */

.color {

    > div {
        @include opt-color-boxes($mobColBoxWidth, $mobColBoxHeight, $mobColBoxPadding);
        margin: $mobColBoxMargin;
        border: $borderOptColBox;
        }

    .blue-box {
        background-color: $colorBlueTshirt;
    }

    .pink-box {
        background-color: $colorPinkTshirt;
    }

    .yellow-box {
        background-color: $colorYellowTshirt;
    }

}

//Tshirt Description Captions

.tshirt-descriptions {
    padding: 0;
    width: 115px;
    text-align: center;
    margin: 0 auto;
}

.name {
    float: left;
    font-size: 1;
}


.price {
    float: left;
    clear: both;
    font-size: 1em;
    font-weight: bold;
}
