//Main Content for Tshirts Homework 7

//All articles

main {
    max-width: 236px;
    margin: 6px auto;
}

.tshirts-index {
    position: relative;
    width: 110px;
    margin: 2px;
    display: inline-block;
}

//Tshirt Images

.tshirt-image {
    border: 3px solid #5CA4D7;
    border-bottom: none;
    padding: 10px;
}

.tshirt-image img {
    width: 100%;
    vertical-align: middle;
}

//Navigation - options

.tshirt-options {
    max-width: 100%;
}

ul.options {
    margin: 0;
    padding: 0;
}

.options > li {
    float:left;
    width: 33.3%;
    padding: 10px;
    border: 3px solid #5CA4D7;
    text-align: center;
    box-sizing: border-box;
}

/* Nav Option Hover */
.options > li:hover {
    background-color: #5CA4D7;
    color: white;
}

/* Nav Option CSS Color Box */
.blue-box {
    width: 3px;
    height: 6px;
    padding: 6px;
    background-color: #7FBAE2;
    margin: 1px;
    border: 1px solid #fff;
}

.pink-box {
    width: 3px;
    height: 6px;
    padding: 6px;
    background-color: #D482AA;
    margin: 1px;
    border: 1px solid #fff;
}

.yellow-box {
    width: 3px;
    height: 6px;
    padding: 6px;
    background-color: #DAAE7B;
    margin: 1px;
    border: 1px solid #fff;
}

/*Take away double borders*/

li.refresh, li.heart {
    border-right: none;
    border-bottom: none;
}

li.size {
    border-bottom: none;
}

li.color, li.cart {
    border-right: none;
}

/* Size menu and animation */
li.size {
    position: relative;
}

.size-choices {
    opacity: 0;
    position: absolute;
    text-align: center;
    padding: 0 10px;
    top: -89px;
    left: -21px;
    border: 3px solid #5CA4D7;
    background-color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    color: #5CA4D7;
    transition: all 0.3s;
    visibility: hidden;
}

.size:hover > .size-choices {
    /*animation: menu linear 0.3s;*/
    /*animation-fill-mode: forwards;*/
    opacity: 1;
    top: -4em;
    visibility: visible;
}

ul.size-choices:after, ul.size-choices:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

ul.size-choices:after {
	border-color: rgba(#ffffff, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
ul.size-choices:before {
	border-color: rgba(#5da5d7, 0);
	border-top-color: #5CA4D7;
	border-width: 13px;
	margin-left: -13px;
}

li.l {
    font-size: 90%;
}

li.m {
    font-size: 70%;
}

li.s {
    font-size: 50%;
}

ul.size-choices > li:hover {
    background: #afd6f6;
}

/* Color menu and animations */
li.color {
    position: relative;
}

ul.color-index {
    opacity: 0;
    position: absolute;
    border: 3px solid #5CA4D7;
    background-color: #fff;
    padding-left: 7px;
    /*margin: 0;*/
    top: -112px;
    left: -2px;
    width: 100%;
    box-sizing: content-box;
    transition: all 0.3s;
    visibility: hidden;
}

.color:hover > .color-index {
    /*animation: menu linear 0.3s;
    animation-fill-mode: forwards;*/
    opacity: 1;
    bottom: 2em;
    visibility: visible;
}

.color-index li {
    width: 50%;
    float: left;
    padding-top: 0.2em;
    border: 3px solid #fff;
}

ul.color-index:after, ul.color-index:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

ul.color-index:after {
	border-color: rgba(#ffffff, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
ul.color-index:before {
	border-color: rgba(#5da5d7, 0);
	border-top-color: #5CA4D7;
	border-width: 13px;
	margin-left: -13px;
}

li.color-blue {

    width: 1.3em;
    height: 1.1em;
    background-color: #7FBAE2;
}

li.color-pink {
    width: 1.3em;
    height: 1.1em;
    background-color: #D482AA;
}

li.color-yellow {
    width: 1.3em;
    height: 1.1em;
    background-color: #DAAE7B;
}

li.color-green {
    width: 1.3em;
    height: 1.1em;
    background-color: #50a169;
}

.color > li:hover {
    background-color: : #afd6f6;
}

//Tshirt Description Captions

.tshirt-descriptions {
    padding: 0;
    width: 115px;
    text-align: center;
    margin: 0 auto;
}

.name {
    float: left;
    font-size: 1;
}


.price {
    float: left;
    clear: both;
    font-size: 1em;
    font-weight: bold;
}
