//Media Queries Partial

/* Media Queries - Day 6 Hmwk */

/* mobile first strategy so build for smallest screen first */

@media screen and (min-width: $mediumDisplayWidth) and (max-width: $mediumMaxWidth) {

    main {
        max-width: $mediumDisplayWidth;
    }

    .tshirts-index {
        width: $mediumArticleWidth;
    }

    .color > div {
        @include opt-color-boxes($medColBoxWidth, $medColBoxHeight, $medColBoxPadding);

        &:hover > .color-index {
            bottom: 40px;
        }

        .color-index {
            @include color-index(58px, 4px, -61px, 2px);
        }
    }

    .size {

        &:hover > .size-choices {
        top: $medHoverTop;
        }

        .size-choices {
            padding: 0px 7px;
            left: 0;
        }
    }

    .tshirt-descriptions {
        width: $medDesPadding;
        font-size: $fontSizeMedDes;
    }

}

@media screen and (min-width: $largeDisplayWidth) {

    main {
        max-width: $largeDisplayWidth;
    }

    .tshirts-index {
        width: $largeArticleWidth;
        margin: $largeArticleMargin;
    }

    .options {
        > li {
            width: $largeOptionsWidth;
            padding: $largeOptionsPadding;
        }

        .refresh, .heart, .size, .color {
            border-right: none;
        }

        .refresh, .heart, .size {
            border-bottom: $themeBorder;
        }

        .cart {
            border-right: $themeBorder;
        }

        .flip {
            position: absolute;
            top: 0;
            right: 0;
            border-top: none;
            border-right: none;
            float: right;
        }

    }

    .size {

        &:hover > .size-choices {
        top: $larHovertop;
        }

        .size-choices {
        top: -121px;
        left: -10px;
        }

    }

    .color {

        > div {
        @include opt-color-boxes($larColBoxWidth, $larColBoxHeight, $larColBoxPadding);
        margin-left: 4px;
        }

        .color-index {
        @include color-index(58px, 5px, -72px, -18px);
        }

        &:hover > .color-index {
        top: -61px;
        }

    }

    .tshirt-descriptions {
        width: $larDesPadding;
        position: relative;

        .name, .price {
            font-size: $fontSizeLarDes;
        }

        .price {
            float: right;
            clear: right;
        }
    }

}
