$themeFont: 'Open Sans', 'san-serif';
$themeColor: #5CA4D7;
$themeBorder: 3px solid $themeColor;
$pageMargins: 6px auto;
$hoverFontColor: #fff;
$colorBlueTshirt: #7FBAE2;
$colorPinkTshirt: #D482AA;
$colorYellowTshirt: #DAAE7B;


//Mobile First
$mobileDisplayWidth: 236px;
$mobileArticleWidth: 110px;
$mobileArticleMargin: 2px;
$imagePadding: 10px;
$mobileOptionsWidth: 33.3%;
$mobileOptionsPadding: 10px;
$mobColBoxMargin: 1px;





//Medium Displays
$mediumDisplayWidth: 481px;
$mediumMaxWidth: 800px;
$mediumArticleWidth: 31%;



//Large Displays
$largeDisplayWidth: 801px;
$largeArticleWidth: 190px;
$largeArticleMargin: 20px 3px;
$largeOptionsWidth: 20%;
$largeOptionsPadding: 4px;
