$themeFont: 'Open Sans', 'san-serif';
$themeColor: #5CA4D7;
$themeBorder: 3px solid $themeColor;
$pageMargins: 6px auto;
$hoverFontColor: #fff;
$colorBlueTshirt: #7FBAE2;
$colorPinkTshirt: #D482AA;
$colorYellowTshirt: #DAAE7B;
$borderOptColBox: 1px solid #fff;
$colorMenuHover: #afd6f6;


//Mobile First
$mobileDisplayWidth: 236px;
$mobileArticleWidth: 110px;
$mobileArticleMargin: 2px;
$imagePadding: 10px;
$mobileOptionsWidth: 33.3%;
$mobileOptionsPadding: 10px;
$mobColBoxWidth: 3px;
$mobColBoxHeight: 6px;
$mobColBoxPadding: 6px;
$mobColBoxMargin: 1px;
$mobDesPadding: 115px;
$fontSizeMobDes: 1em;
$mobHoverTop: -107px;


//Medium Displays
$mediumDisplayWidth: 481px;
$mediumMaxWidth: 800px;
$mediumArticleWidth: 31%;
$medColBoxWidth: 3px;
$medColBoxHeight: 6px;
$medColBoxPadding: 6px;
$medDesPadding: 150px;
$fontSizeMedDes: 17pt;
$medHoverTop: -108px;


//Large Displays
$largeDisplayWidth: 801px;
$largeArticleWidth: 190px;
$largeArticleMargin: 20px 3px;
$largeOptionsWidth: 20%;
$largeOptionsPadding: 4px;
$larColBoxWidth: 18px;
$larColBoxHeight: 18px;
$larColBoxPadding: 0;
$larDesPadding: 190px;
$fontSizeLarDes: 16pt;
$larHovertop: -109px;
