$themeFont: 'Open Sans', 'san-serif';
$themeFontColor: #5CA4D7;
$themeBorder: 3px solid $themeFontColor;
$pageMargins: 6px auto;


//Mobile First
$mobileDisplayWidth: 236px;
$mobileArticleWidth: 110px;
$mobileArticleMargin: 2px;




//Medium Displays
$mediumDisplayWidth: 481px;
$mediumMaxWidth: 800px;
$mediumArticleWidth: 31%;



//Large Displays
$largeDisplayWidth: 801px;
$largeArticleWidth: 190px;
$largeArticleMargin: 20px 3px;
