@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

@import "variables";
@import "mixins-functions";

@import "base";

@import "mediaqueries";

//content

main {
    max-width: 236px;
    margin: 6px auto;
}

.tshirts-index {
    position: relative;
    width: 110px;
    margin: 2px;
    display: inline-block;
}

.tshirt-image {
    border: 3px solid #5CA4D7;
    border-bottom: none;
    padding: 10px;
}

.tshirt-image img {
    width: 100%;
    vertical-align: middle;
}
